@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     outline: 0;
     list-style: none;
     text-decoration: none;
}

:root {
     --color-text: #000;
     --color-heart: #FF6363;
     --color-white: #FFFFFF;
     --color-primary: #0689FF;
     --container-width-lg: 70%;
     --container-width-md: 86%;
     --container-width-sm: 84%;
}
html {
     scroll-behavior: smooth;
}
::-webkit-scrollbar {
     display: none;
}

body {
     font-family: 'Poppins', sans-serif;
}

/* Logo */
 img{
     width: 110px;
     height: auto;
}
.icon_social .bx  {
     font-size: 20px;
     margin-left: 20px;
}
.icon_social .bx:hover {
     color: var(--color-primary);
     transition: all .25s linear;
}
/*  */

.title {
     text-align: center;
}
.title h2 {
     font-size: 48px;
     font-weight: 600;
}
.title p {
     padding: 24px 0 70px 0px;
     width: 48%;
     margin: 0 auto;
     color: #00000099;
}
    
@media screen and (max-width: 46.188em) { 
     .title h2 {
          font-size: 32px;
     }
     .title p {
          width: 85%;
          font-size: 16px;
          padding: 4px 0;
     }  
}